<!-- 公共头、脚 -->
        <header class="ui-header ui-header-positive ui-border-b">
            <i class="ui-icon-return" onclick="history.back()"></i><h1>Test</h1><button class="ui-btn">回首页</button>
        </header>
        <footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t">
                <li data-href="index.html" class="ui-border-r"><div>nav1</div></li>
                <li data-href="ui.html" class="ui-border-r"><div>nav2</div></li>
                <li data-href="my.html"><div>我的</div></li>
            </ul>
        </footer>
<!-- 公共头、脚over -->